/* Make canvas SVG full-screen */
.canvas {
  width: 100vw;
  height: 100vh;
}

/* quick fix for getting full-screen SVG to work as expected - without scrollbars */
body {
  margin: 0;
  overflow: hidden;
}
